@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROVA TÉCNICA | CITEL SOFTWARE</h1>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Content/Imagens/ImgPerfil.png">
                        <div class="m-t-xs font-bold">Analista de Sistemas</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Bruno Marin Rodrigues</strong></h3>
                    <address>
                        <p><i class="fa fa-map-marker"></i> <strong>Bebedouro - SP</strong></p>
                        Av. Maria dias 1101, Casa 36.<br>
                        Bebedouro, 14702-122<br>
                        Cel./WhatsApp: (017) 99137-6780
                    </address>
                    <p>
                        E-mail: bruno_marin_rodrigues@hotmail.com
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
